@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@300&family=Sriracha&display=swap');

@media screen and (orientation:portrait) {
    
      

        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }

        body {
            width: 98vw;
            height: 98vh;
            background-color: rgb(245, 239, 230);
            

        }

        div.card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            height: auto;
            width: 375px;
            border-radius: 10px;
            overflow: hidden;
            background-color: white;

        }

        div.foto {
            background: url(../images/image-product-mobile.jpg);
            background-position: center center;
            width: 100% ;
            height: 275px;
            background-size: cover;
            background-repeat: no-repeat;
            
        }


        div.info {
            padding: 10px;
            color: rgb(94, 91, 91);
            
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            

        }

        div.info > h2 {
            padding: 10px;
            font-size: 14px;
            letter-spacing: 4px;
        }

        div.info > h1 {

            padding: 10px;
            font-family:'Fraunces', serif;
            color: black;
        }

        div.info > p {
            padding: 10px;
            font-size: 1em;
            font-weight: 600;
            line-height: 25px;
        }

        

        div.preco > {
            display: inline-block;
            margin: 50px;
        
        
        }

        div.preco > p#atual {
            display: inline;
            color: rgb(60, 141, 110);
            font-family: 'Fraunces', serif;
            font-size: 2.5em;
            text-decoration: none;
            padding: 10px;
            
        }

        div.preco > p#antigo{
            float: right;
            position: relative;
            padding-top: 14px;
            font-size: 18px;
            text-decoration: line-through;
            right: 90px;
        
        }

        div.add_to_cart {
            background-color: rgb(60, 141, 110);
            position: relative;
            height: 55px;
            color: white;
            
            font-weight: 900;
            border-radius: 10px;
            padding: 20px;
            margin: 10px ;
        }

        div.add_to_cart > a{
            position: relative;
            bottom: 10px;
            text-align: center;
            text-decoration: none;
            margin-bottom: 5px;
        }
    

        .material-symbols-outlined { position: relative;
            top: 5px;
            
        }

        div.add_to_cart > a > p{
            color: white;
            text-decoration: none;
        }
    
        div.add_to_cart:hover{
            background-color: rgb(41, 87, 69);
        }



        .attribution {
            position: fixed;
            top: 98vh;
            left: 50%;
            transform: translate(-50%);
            font-size: 11px; text-align: center; }

        .attribution a { color: hsl(228, 45%, 44%); }


        
}        