@charset "UTF-8";


*{  
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image:linear-gradient(90deg, #5C8C46, #327355)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(65, 58, 58);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0B2559;
    text-align: center;
    text-shadow: 1px 1px 2px #091b3fa8 ;
}

h2 {
    color: #183B59;
}

p {
    text-align: justify;
}